<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>NLP Project</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@500&display=swap');
  </style>  
</head>

<body>
  <div class="container">
    <header>
      <div class="topic">
        <div class="text_article">
          <p>News Article with Natural Language Processing App</p>
        </div>
      </div>
    </header>

    <div class='main'>
      <div class="flex">

        <div class="text textSpace">
          Input text
        </div>
        <textarea class='formText' id="text" type="text" rows='15' wrap="hard" placeholder="Input text here"></textarea>
        <div class="sentence">
          <div class="text">
            Input URL
          </div>
          <input id="url" type="text" placeholder="Input URL here">
        </div>

        <div class="sentence">
          <div class="text">Sentences:</div>
          <input id="number" type="number" value='5'>
        </div>
        <span id="error" class="error" ></span>
        <div class="submit_btn">
          <div class="text" id='submit-btn'>
            Submit
          </div>
        </div>

        <div class="results">
          <div class="text textSpace">
            Results
          </div>

        </div>
        <textarea class='formText' id="results" type="text" rows='15' wrap="hard" placeholder="Result"></textarea>

      </div>
    </div>

    <footer>
      <div class="text text_footer"> Daniel Plaza </div>
    </footer>
  </div>

  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>

</body>

</html>